@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'getSchwifty';
    src: url('assets/fonts/get_schwifty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
